<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper:根标签，namespace：命名空间，随便写，一般保证命名空间唯一 -->
<mapper namespace="web.dao.StudentDao">
    <!-- statement，内容：sql语句。id：唯一标识，随便写，在同一个命名空间下保持唯一
       resultType：sql语句查询结果集的封装类型,tb_user即为数据库中的表 #{}防止sql注入
     -->
    <insert id="insert" parameterType="web.entity.Student">
          INSERT INTO student(name,sex,age,telephone,sno,account,password)
          values (#{name},#{sex},#{age},#{telephone},#{sno}#{account},#{password});
    </insert>

    <delete id="delete" parameterType="Integer">
        delete from student where id=#{id};
    </delete>

    <update id="update" parameterType="web.entity.Student">
        update student set name=#{name},sex=#{sex},age=#{age},telephone=#{telephone},sno=#{sno},account=#{account},password=#{password}
        where id=#{id};
    </update>

    <select id="findById" parameterType="Integer" resultType="web.entity.Student">
        select * from student where id =#{id};
    </select>
</mapper>
